# Deep Learning A-Z - ANN dataset

**Nama :** Hadie Pratama Tulili

**NIM :** 2109106043

### Dataset yang digunakan
Dataset yang digunakan di bagian di bagian "ANN (Artificial Neural Networks)" dari kursus Udemy dari Kirill Eremenko (Ilmuwan Data & Pakar Sistem Forex) dan Hadelin de Ponteves (Ilmuwan Data),

[Link Dataset](https://www.kaggle.com/datasets/filippoo/deep-learning-az-ann)

## Import library

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

## Dataset

In [2]:
data = pd.read_csv("./dataset/Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## Data Preprocessing
### Dumies the categories

In [5]:
gender_cat = pd.get_dummies(data['Gender'] , drop_first=True)
geo_cat = pd.get_dummies(data['Geography'] , drop_first=True)

data=pd.concat([data , gender_cat ,geo_cat] , axis=1)

### Drop fitur yang tidak dibutuhkan untuk mengurangi redudansi

In [6]:
data.drop(columns=['Gender', 'Geography' , 'RowNumber', 'CustomerId' , 'Surname'] , axis = 1 , inplace = True )

In [7]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

### Data Splitting

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = data.drop(['Exited'] , axis = 1)
y = data['Exited']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X , y , test_size=0.3 , random_state=0)

## Standarisasi

In [11]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

X_train[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']] = ss.fit_transform(X_train[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']])
X_test[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']] = ss.fit_transform(X_test[['Age',"Tenure" , 'Balance' , 'CreditScore' , "EstimatedSalary" , 'NumOfProducts']])

## ANN

In [12]:
from tensorflow import keras
from keras import layers , Sequential 
from keras.layers import Dense

In [26]:
model = Sequential()

#Input Layer
model.add(Dense(64, activation='relu', input_shape = [11]))

#Hidden Layer
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))

#Output Layer
model.add(Dense(1,  activation = 'sigmoid'))

In [27]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                768

 dense_11 (Dense)            (None, 64)                4160

 dense_12 (Dense)            (None, 64)                4160

 dense_13 (Dense)            (None, 64)                4160

 dense_14 (Dense)            (None, 64)                4160

 dense_15 (Dense)            (None, 1)                 65

=================================================================
Total params: 17,473
Trainable params: 17,473
Non-trainable params: 0
_________________________________________________________________

In [28]:
history = model.fit(X_train, y_train, batch_size = 25, epochs = 10, verbose = 1, validation_data = (X_test, y_test))

Epoch 1/10
280/280 [==============================] - 2s 4ms/step - loss: 0.4216 - accuracy: 0.8194 - val_loss: 0.3564 - val_accuracy: 0.8523
Epoch 2/10
280/280 [==============================] - 1s 4ms/step - loss: 0.3552 - accuracy: 0.8541 - val_loss: 0.3491 - val_accuracy: 0.8583
Epoch 3/10
280/280 [==============================] - 1s 4ms/step - loss: 0.3432 - accuracy: 0.8609 - val_loss: 0.3529 - val_accuracy: 0.8580
Epoch 4/10
280/280 [==============================] - 1s 4ms/step - loss: 0.3378 - accuracy: 0.8643 - val_loss: 0.3579 - val_accuracy: 0.8543
Epoch 5/10
280/280 [==============================] - 1s 4ms/step - loss: 0.3361 - accuracy: 0.8647 - val_loss: 0.3754 - val_accuracy: 0.8410
Epoch 6/10
280/280 [==============================] - 1s 4ms/step - loss: 0.3299 - accuracy: 0.8670 - val_loss: 0.3502 - val_accuracy: 0.8573
Epoch 7/10
280/280 [==============================] - 1s 3ms/step - loss: 0.3237 - accuracy: 0.8699 - val_loss: 0.3640 - val_accuracy: 0.8543
Epoch 8/10
280/280 [==============================] - 1s 3ms/step - loss: 0.3204 - accuracy: 0.8693 - val_loss: 0.3550 - val_accuracy: 0.8473
Epoch 9/10
280/280 [==============================] - 1s 3ms/step - loss: 0.3184 - accuracy: 0.8706 - val_loss: 0.3553 - val_accuracy: 0.8493
Epoch 10/10
280/280 [==============================] - 1s 3ms/step - loss: 0.3139 - accuracy: 0.8739 - val_loss: 0.3607 - val_accuracy: 0.8487

In [29]:
history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [30]:
y_pred = model.predict(X_test)
y_pred

94/94 [==============================] - 0s 2ms/step

array([[0.2752453 ],
       [0.22644971],
       [0.13166438],
       ...,
       [0.08290602],
       [0.11975913],
       [0.73083293]], dtype=float32)

### Evaluasi Model

#### Data testing

In [31]:
score = model.evaluate(X_test, y_test, batch_size = 10)
print("Loss    : ", score[0])
print("Akurasi : ", score[1])

300/300 [==============================] - 1s 3ms/step - loss: 0.3607 - accuracy: 0.8487
Loss    :  0.36065804958343506
Akurasi :  0.8486666679382324

#### Data training

In [32]:
score1 = model.evaluate(X_train, y_train, batch_size = 10)
print("Loss    : ", score1[0])
print("Akurasi : ", score1[1])

700/700 [==============================] - 2s 2ms/step - loss: 0.2965 - accuracy: 0.8797
Loss    :  0.2964559495449066
Akurasi :  0.87971431016922